@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger:  #fc483f !default;
$brand-info:    #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";

@font-face {
  font-family: "jurabold";
  src: url('../fonts/Jura-Bold.ttf');
}
@font-face {
  font-family: "juraregular";
  src: url('../fonts/Jura-Regular.ttf');
}

.yfl-relative{
  position: relative;
  .main-middle{
    background-image: url(../img/subscribe_bg.jpg);
    background-size: cover;
    // position: absolute;
    // top: 0;
    // left: 40%;
    // z-index: 9999;
    .logo{
        position: relative;
        // background-image: url(../img/logo.png);
        text-align: center;
        margin-top: 20px;
          img {
            width: 95px;
            height: 100px;
            margin: 0 auto;
          }
      }
      h1{
        font-size: 22px;
        margin: 30px 0 0 0;
        font-family: "jurabold";
        text-transform: uppercase;
        // font-weight: bold;
        }
        .mid-cont{
          margin: 0 0 30px 0;
        }
        p{
          font-family: 'juraregular';
          font-size: 16px;
          line-height: 30px;
          padding: 0 54px 0 54px;
        }
      .red-text{
        color: red;
      }
      .search{
        margin: 20px auto;
        position: relative;
        width: 55%;
      }
      .search-input{
        height: 65px;
        border: none;
        font-family: 'jurabold';
        font-size: 15px;
      }
      .go-btn{
        width: 80px;
        height: 65px;
        border: none;
        background-color: #97d3d3;
        font-size: 35px;
        color: #fff;
      }
    //   .newsletter {
    //     width: 100%;
    //     float: left;
    //     position: relative;
    //     margin: 22px 0px;
    //      input {
    //       background-color: white;
    //       color: black;
    //       height: 65px;
    //       max-width: 300px;
    //       font-size: 15px;
    //    }
    //    .submit{
    //      font-size: 36px;
    //      max-width: 57px;
    //      height: 65px;
    //      background-color: #97d3d3;
    //      padding: 5px 0 5px 13px;
    //      color: #fff;
    //    }
    // }
  }
}
